<?xml version="1.0" encoding="UTF-8"?>

<suite name="App automation" parallel="classes" thread-count="1">


	<groups>
		<run>
			<include name="api_tests" />
			<include name="appium_tests" />
		</run>
	</groups>


	<test name="Login test"> <!-- Mobile test here -->

		<parameter name="email" value="dummyemail.com" /> <!-- test with wrong credentials -->
		<parameter name="password" value="DUMMPY_Password" />
		<classes>
			<class name="com.appium.test.LoginPageTest" />
		</classes>

	</test>

	<test name="Home Page Validation test">

		<parameter name="email" value="correctemailhere.com" /> <!-- please add correct credentials here here -->
		<parameter name="password" value="vivy@test007" />
		<classes>
			<class name="com.appium.test.HomePageValidation" />
		</classes>

	</test>

	<test name="API tests"> <!-- API test here -->

		<classes>
			<class name="com.API.test.DoctorsAPIs" />
		</classes>

	</test>


</suite>